body {
  overflow: hidden;
  margin: 0;
  font-family: "Grandstander", cursive;
  background-image: url("./assets/white-paper-texture.jpg");
}

.parent {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  height: 100vh;
}

.div1 {
  grid-area: 1 / 1 / 10 / 11;
}
.div2 {
  grid-area: 10 / 2 / 11 / 11;
}
.div3 {
  grid-area: 1 / 1 / 10 / 2;
}
.div4 {
  grid-area: 10 / 1 / 11 / 2;
}

.div3 {
  height: 30vw;
}

#sliderContainer {
  width: 80%;
  margin: 20px auto;
}

#slider {
  width: 100%;
}

table {
  font-family: "Grandstander", cursive;
  border-collapse: collapse;
  width: 100%;
  background-color: #6a4c93;
}

td,
th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ab8cd7;
}
