body {
  overflow: hidden;
  font-family: "Grandstander", cursive;
  background-image: url("./assets/BackgroundV2.jpg");
  margin: 0;
  padding: 0;
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

.parent {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  height: 100vh;
}

.div1 {
  grid-area: 1 / 1 / 10 / 11;
}
.div2 {
  grid-area: 10 / 2 / 11 / 11;
}
.div3 {
  grid-area: 5 / 1 / 7 / 2;
}
.div4 {
  grid-area: 10 / 1 / 11 / 2;
}

.div3 {
  height: 20vh;
  background-image: url("./assets/LegendeTransparant.png");
  margin: 0;
  padding: 3rem;
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

#sliderContainer {
  width: 10%;
  margin: 20px auto;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#slider {
  width: 100%;
  height: 80%;
  transform: rotate(-90deg);
}

table {
  font-family: "Grandstander", cursive;
  border-collapse: collapse;
  width: 100%;
  background-color: #6a4c93;
}

td,
th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ab8cd7;
}
